span{
    color: blue;
}
#alertForm {
    position: fixed;
    background-color: #505050;
    box-shadow: 3px 3px 3px #636363;
    display: none;
    width: 350px;
    height: 180px;
    border-radius: 5px;
    padding: 20px;
    left: 60%;
    top: 50%;
    margin-left: -200px;
    margin-top: -100px;
    z-index: 1;
    border: 1px solid #e1e1e1;
    opacity: 0.9;
}

/*.container-fluid{
    background-image: url("../../Multimedia/Img/IMG-20160330-WA0015.jpg");
}*/